#navbar {
    position: fixed !important;
    min-width: 100vw;
    z-index: 100;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.card {
    display: grid;
    transform: translateY(8px);
}
.contact-details:hover {
    transform: translateY(8px);
  }